.searchWrapper {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBar {
  display: flex;
  align-items: center;
}

.searchInput {
  margin-right: 10px;
  color: black;
}

.searchBtn {
  padding: 2.5px;
}
p {
  margin: 0px;
}

.results {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  line-break: auto;
  flex-direction: column;
  align-items: flex-start;
}

.song {
  font-size: large;
}

.artist {
  margin-left: 21px;
}

.add-btn {
  font-size: x-large;
  text-align: left;
  color: green;
  line-height: 0px;
  text-decoration: none;
}

.add-btn:a:active {
  font-size: large;
  line-height: 0.5;
  text-decoration: none;
}
