.searchWrapper {
  margin-right: 10px;
}
.searchBar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searchInput {
  margin-right: 10px;
  color: black;
}

.searchBtn {
  padding: 2.5px;
}

.add-btn {
  font-size: larger;
  color: green;
  text-decoration: none;
}
