.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.searchBar {
  display: flex;
  align-items: center;
}

.searchInput {
  margin-right: 10px;
  color: black;
  padding: 10px;
  border-radius: 40px;
  font-size: medium;
}

.searchBtn {
  padding: 2.5px;
}

p {
  margin: 0px;
  margin-left: 0px;
}

.searchSongs {
  height: 550px;
  overflow-y: scroll;
}
.results {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  line-break: auto;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -36px;
}

.song {
  font-size: large;
  margin-bottom: 0px;
}

.artist {
  margin-left: 23px;
  margin-top: 0px;
}

.add-btn {
  font-size: x-large;
  text-align: left;
  color: #15e24b;
  line-height: 0px;
  text-decoration: none;
  cursor: pointer;
}

.add-btn:hover {
  font-size: x-large;
  text-align: left;
  color: #15e24b;
  line-height: 0px;
  text-decoration: none;
  cursor: pointer;
  color: darkolivegreen;
}

.songSearchList {
  height: 400px;
  overflow-y: scroll;
}
