.playlistArtist {
  font-size: medium;
  margin-left: 47px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.playlistSong {
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px;
}

.playlistList {
}

.playlistCol {
  height: 500px;
  overflow-y: scroll;
}
.musicNote {
  width: 20px;
  margin-right: 10px;
}

::-webkit-scrollbar-track {
  background: #5e5b5b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(1, 66, 10);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 112, 4);
}
