.homepage {
  color: white;
}

h3 {
  padding-top: 5%;
  margin-right: 10%;
}

.section {
  font-size: 1em;
}

.playlist {
  list-style-type: none; /* Remove bullets */
  font-size: 1.4em;
  text-align: left;
  margin-left: 23%;
}

.playlistArtist {
  font-size: 0.6em;
  text-align: left;
}

.suggested {
  list-style-type: none;
  font-size: 1.4em;
  text-align: left;
  margin-left: 0%;
}

.suggestedArtist {
  font-size: 0.6em;
  padding-left: 6%;
  text-align: left;
}

.search {
  list-style-type: none;
  font-size: 1.5em;
  text-align: left;
  margin-left: 30%;
  line-height: 1em;
}

.searchSong:hover {
  background-color: rgb(70, 70, 70);
  cursor: pointer;
  padding: .2em;
}

.counterNum {
  padding-top: 10%;
  margin-left: 100%;
}

.exportButton {
    cursor: pointer;
    background-color: #15e24b;
    border: none;
    margin-right: 2%;
    margin-left: 2%;
    padding-right: 1%;
}

.playButton {
  cursor: pointer;
  background-color: #15e24b;
  border: none;
  margin-right: 2%;
  padding-right: 1%;
}