.homepage {
  background-color: black;
  color: white;
  /* color: black; */
}

h3 {
  padding-top: 5%;
  margin-right: 10%;
}

.section {
  font-size: 1em;
}

.playlist {
  text-align: left;
  margin-left: 23%;
}

.playlistList {
  list-style-type: none; /* Remove bullets */
}
.suggestedSongs {
  height: 600px;
  overflow-y: scroll;
}

.playlistArtist {
  font-size: medium;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.playlist-song {
  font: x-large;
}

.suggested {
  list-style-type: none;
  font-size: 1.5em;
  text-align: left;
  margin-left: 0%;
}

.suggestedArtist {
  font-size: 0.6em;
  padding-left: 6%;
  text-align: left;
}

.search {
  list-style-type: none;
  font-size: 1.5em;
  text-align: left;
  margin-left: 30%;
  line-height: 1em;
}

.searchSong:hover {
  background-color: rgb(70, 70, 70);
  cursor: pointer;
  padding: 0.2em;
}

.counterNum {
  padding-top: 10%;
  margin-left: 100%;
}

.exportButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 2%;
  margin-left: 2%;
  padding-right: 1%;
}

.playButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 2%;
  padding-right: 1%;
}

.suggested-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.homepageSearch {
  margin: 10px;
}

.homepageRow {
  display: flex;
  justify-content: space-evenly;
}

.homepageCol {
  width: 260px;
}
