.NavbarItems {
  background-color: black;
  font-size: 1.2rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(19, 184, 74);
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.username {
  color: rgb(19, 184, 74);
  font-family: cursive;
  font-size: larger;
}
.navbar-logo {
  color: rgb(19, 184, 74);
  justify-self: start;
  cursor: pointer;
  font-family: cursive;
  font-size: xx-large;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.loginbtn {
  margin-bottom: 10px;
}
.navbar-logo:hover {
  color: darkolivegreen;
}

.wave {
  width: 100px;
  margin-left: 10px;
}
