.playlists {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}

.title {
  display: flex;
  margin-top: -20px;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-family: cursive;
  color: rgb(19, 184, 74);
}

.playlistDisplay {
  display: flex;
}
