.upvote {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 2%;
  margin-left: 2%;
}

.suggested {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: auto;
}

.suggested-song {
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px;
}

.suggested-artist {
  font-size: medium;
  margin-left: 47px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.upvote {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  align-items: baseline;
}

/* Customized Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #5e5b5b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(1, 66, 10);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 112, 4);
}
